body {
    font-family: Arial, sans-serif;
    background-color: #d1ffd1; /* Fundo verde */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Header */
.header {
    background-color: #86F580; /* Fundo branco para o header */
    width: 100%;
    height: 80px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
/* Footer */
.footer {
    background-color: #86F580; /* Fundo verde */
    color: #000000; /* Texto branco */
    text-align: center;
    padding: 46px;
    margin-top: 20px;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra na parte superior */
}

.footer p {
    margin: 5px 0; /* Espaçamento entre os parágrafos */
    font-size: 14px;
}

.logo {
    width: 60px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
    margin-right: auto; /* Empurra a logo para a esquerda */
}

.menu {
    display: flex;
    gap: 200px; /* Espaçamento entre os itens do menu */
    position: absolute; /* Posiciona o menu no centro */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta o posicionamento */
}

.menu-item {
    font-size: 18px;
    color: #333;
    cursor: pointer;
    padding: 10px 20px; /* Espaçamento interno */
    border: 2px solid #28a745; /* Borda verde */
    border-radius: 5px; /* Bordas arredondadas */
    background-color: #fff; /* Fundo branco */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-item:hover {
    background-color: #28a745; /* Fundo verde ao passar o mouse */
    color: #fff; /* Texto branco ao passar o mouse */
}

/* Conteúdo Principal */
.main-container {
    background-color: #fff; /* Fundo branco para o contêiner */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 800px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Biomas */
.biomas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Espaçamento entre os biomas */
}

.bioma {
    width: 30%; /* Largura de cada bioma */
    text-align: center;
    background-color: #f4f4f4; /* Fundo cinza claro */
    border: none;
    border-radius: 10px; /* Bordas arredondadas */
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bioma:hover {
    background-color: #ddd; /* Efeito ao passar o mouse */
}

.bioma-image {
    width: 100%; /* A imagem ocupa toda a largura do contêiner */
    height: auto;
    border-radius: 10px; /* Bordas arredondadas para a imagem */
    margin-bottom: 10px; /* Espaçamento entre a imagem e o texto */
}

.bioma p {
    font-size: 18px;
    color: #333;
    margin: 0;
}